*{
  padding: 0;
  margin: 0;
  
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

body {
  background: #22c1c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-circle{
  background-color: red;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(0, 0, 0, 0.25);
}

.origin {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  z-index: 1;
}

.hour {
  position: absolute;
  background: #000;
  height: 30%;
  left: 48.75%;
  top: 20%;
  transform: rotate(45deg);
  transform-origin: 50% 100%;
  width: 3.0%;
  animation: rotate 43200s infinite   linear;
}

.minute {
  background: green;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform: rotate(-45deg);
  transform-origin: 50% 100%;
  width: 2%;
  animation: rotate 3600s infinite linear;
}

.second {
  background: pink;
  height: 66%;
  left: 49.5%;
  position: absolute;
  top: 5%;
  transform: rotate(60deg);
  transform-origin: 50% 69%;
  width: 1%;
  animation: rotate 60s infinite linear;  
}