header {
  text-align: center;
  margin-bottom: 4em;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  display: block;
}
input:focus {
  border-color: green
}

.input {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 4em;
}

.operators {
  display: flex;
  justify-content: center;
}

button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

button:hover {
  background-color: #f1f1f1;
}
